/* colors */
$black: #111827;
$white: #fff;

$neutral-50: #F9FAFB;
$neutral-100: #F3F4F6;
$neutral-200: #E5E7EB;
$neutral-300: #D1D5DB;
$neutral-400: #9CA3AF;
$neutral-500: #6B7280;
$neutral-600: #4B5563;
$neutral-700: #374151;
$neutral-800: #1F2937;
$neutral-900: #111827;

$dark: #374151;
$gray: #6B7280;
$light-gray: #E5E7EB;

$accent: #0000B0;

$primary-bg: #F6F7F9;