@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,regular,500,600,700,800,900);

$font-main: "Source Code Pro", monospace;

$fs-sm: 12px;
$fs-md: 16px;
$fs-lg: 24px;
$fs-xl: 32px;
$fs-2xl: 40px;
$fs-3xl: 46px;

$fw-n: 400;
$fw-m: 500;
$fw-sm: 600;
$fw-b: 700;
$fw-exb: 800;

$lh-110: 1.1;
$lh-120: 1.2;
$lh-130: 1.3;
$lh-140: 1.4;
$lh-150: 1.5;
