@use '@styles/base/tokens' as t;

body {
  font-family: t.$font-main;
  font-size: 16px;
  line-height: 1.5;
  color: t.$neutral-700;
  background-color: t.$white;
}

button {
  user-select: none; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
