img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

/* если изображение — интерактивное */
a img {
  border: none;
}

/* предотвращает растягивание */
img[width][height] {
  height: auto;
}
