/* display */
.hidden {
  display: none !important;
}

/* text */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* overflow */
.no-scroll {
  overflow: hidden;
}

/* spacing helpers */
.mt-auto {
  margin-top: auto;
}
