.hero {
  margin-bottom: 50px;

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 30px;
  }
}

.categories {
  position: relative;

  &__content {
    position: relative;
    z-index: 5;
    padding: 60px 0;
  }

  &__background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__cards-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(164px, 1fr);
    grid-template-rows: none;
    gap: 18px;

    min-width: min-content;
    max-width: max-content;
  }
}

@media (min-width: 1025px) {
  .hero {
    &__cards {
      grid-template-columns: 1fr 510px;
    }

    &__card {
      display: grid;
      grid-template-rows: 1fr auto;
    }
  }
}