@use '@styles/base/tokens' as t;
@use '@styles/base/mixins' as m;

.header {
  &__bar {
    padding: 20px 0;
  }
  &__expanded {
    padding: 12px 0;
    background-color: t.$accent;
    color: t.$white;
  }
}

// HEADER-BAR

.header-bar {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: none;
  }

  &__logo-mobile {
    display: block;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__button {
    font-size: 20px;
    transition: all 0.3s ease;
  }
}

.menu {
  display: none;

  &__list {
    display: flex;
    gap: 24px;
  }

  &__link {
    transition: all 0.3s ease;
    font-weight: t.$fw-m;
    color: t.$neutral-700;
  }
}

@media (min-width: 476px) {
  .header-bar {
    &__logo {
      display: block;
    }

    &__logo-mobile {
      display: none;
    }
  }
}

@media (min-width: 1025px) {
  .header-bar {
    &__button {
      &._menu {
        display: none;
      }
      @include m.hover {
        color: t.$accent;
      }
    }
  }

  .menu {
    display: block;

    &__item {
      @include m.hover {
        & > * {
          color: t.$accent;
        }
      }
    }
  }
}

// HEADER-EXPANDED

.header-expanded {

  &__container {
    position: relative;
  }
  &__submenu {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

.submenu {
  &__list {
    display: inline-flex;
    gap: 32px;

    width: max-content;
    min-width: 100%;
  }

  &__item {
  }

  &__btn {
    display: flex;
    gap: 10px;
    white-space: nowrap;
    transition: all 0.3s ease;

    & > svg {
      font-size: 20px;
      flex-shrink: 0;
    }

    &._active {
      & > svg {
        transform: rotate(90deg);
      }
    }
  }
}

.dropdown__list {
  position: absolute;
  top: 50px;
  left: 15px;
  right: 15px;
  width: auto;
  visibility: hidden;
  opacity: 0;

  padding: 30px;
  background-color: white;
  outline: 1px solid t.$neutral-200;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 2;
  box-shadow: 0 4px 33px 0 rgba(213, 213, 213, 0.25);
  transition: all 0.3s ease;

  &._active {
    visibility: visible !important;
    opacity: 1;
  }
}

.dropdown__link {
  transition: all 0.3s ease;
  color: t.$neutral-500;
  font-weight: t.$fw-m;

  @include m.hover {
    padding-left: 10px;
    color: t.$accent;
  }
}