@use '@styles/base/tokens' as t;
@use '@styles/base/mixins' as m;

.header {
  padding: 20px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: none;
  }

  &__logo-mobile {
    display: block;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__button {
    font-size: 20px;
    transition: all 0.3s ease;
  }
}

.menu {
  display: none;

  &__list {
    display: flex;
    gap: 24px;
  }

  &__link {
    transition: all 0.3s ease;
    font-weight: t.$fw-m;
    color: t.$neutral-700;
  }
}

@media (min-width: 476px) {
  .header {
    &__logo {
      display: block;
    }

    &__logo-mobile {
      display: none;
    }
  }
}

@media (min-width: 1025px) {
  .header {
    &__button {
      &._menu {
        display: none;
      }
      @include m.hover {
        color: t.$accent;
      }
    }
  }
  .menu {
    display: block;

    &__item {
      @include m.hover {
        & > * {
          color: t.$accent;
        }
      }
    }
  }
}
