<header class="header">
  <div class="header__bar header-bar">
    <div class="header-bar__container">
      @include components/inline-svg.html {
        icon: "logo-icon.svg",
        class: "header-bar__logo"
      }
      @include components/inline-svg.html {
        icon: "mobile-logo-icon.svg",
        class: "header-bar__logo-mobile"
      }
      <nav class="header-bar__menu menu">
        @include components/list.html {
          className: "menu"
        }
      </nav>
      <div class="header-bar__buttons">
        @include components/button/button.html {
          items: [
            { 
              iconName: "search-icon",
              section: "header-bar",
            },
            { 
              iconName: "eye-icon",
              section: "header-bar",
            },
            { 
              iconName: "call-icon",
              section: "header-bar",
            },
            { 
              modifier: "menu",
              iconName: "menu-icon",
              section: "header-bar",
            }
          ]
        }
      </div>
    </div>
  </div>
  <div class="header__expanded header-expanded">
    <div class="header-expanded__container">
      <nav data-module="scroll-menu" class="header-expanded__submenu submenu">
        @include components/navigation/submenu.html
      </nav>
    </div>
  </div>
</header>